colorama
contourpy
cycler
et-xmlfile
filelock
fonttools
jinja2
joblib
kiwisolver
markupsafe
matplotlib
mpmath
narwhals
networkx
numpy
opencv-python-headless
openpyxl
packaging
pandas
pillow
pyparsing
python-dateutil
scikit-learn
scipy
seaborn
six
sympy
threadpoolctl
torch
torchvision
tqdm
typing-extensions
tzdata
onnx
onnxscript
onnxruntime
